<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Buda:wght@300&family=Forum&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Megrim&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="/stylesheets/style.css">
	<title>Abhishek</title>
</head>

<body class="font-primary  bg-stone-900 text-stone-300 px-5">
	<header class=" bg-stone-400 text-stone-800 rounded flex items-center justify-between max-w-screen-md mx-auto my-5 p-2 px-5">
		<a href="/" class=" font-title font-bold uppercase tracking-widest cursor-pointer text-stone-950 ">Abhi</a>
		<nav class="flex items-center gap-5">
			<a class="w-fit text-stone-800 flex items-baseline gap-1 cursor-pointer  hover:text-stone-300 rounded p-1 px-2 bg-[length:0%_100%] bg-[0%_100%] bg-no-repeat bg-gradient-to-b from-stone-800 to-stone-800 hover:bg-[length:100%_100%]  duration-300" href="#">Journals</a>

			<a class="w-fit text-stone-800 flex items-baseline gap-1 cursor-pointer  hover:text-stone-300 rounded p-1 px-2 bg-[length:0%_100%] bg-[0%_100%] bg-no-repeat bg-gradient-to-b from-stone-800 to-stone-800 hover:bg-[length:100%_100%]  duration-300" href="#">Projects</a>
			<a class="w-fit text-stone-800 flex items-baseline gap-1 cursor-pointer  hover:text-stone-300 rounded p-1 px-2 bg-[length:0%_100%] bg-[0%_100%] bg-no-repeat bg-gradient-to-b from-stone-800 to-stone-800 hover:bg-[length:100%_100%]  duration-300" href="#">Work</a>
			<a class="w-fit text-stone-800 flex items-baseline gap-1 cursor-pointer  hover:text-stone-300 rounded p-1 px-2 bg-[length:0%_100%] bg-[0%_100%] bg-no-repeat bg-gradient-to-b from-stone-800 to-stone-800 hover:bg-[length:100%_100%]  duration-300" href="#">Contact</a>
		</nav>
	</header>
