{{> header}}
<main class="max-w-screen-md mx-auto">
{{! hero section }}
 {{> index/heroSection }}
 {{> index/aboutUsSection}}

<section class="grid gap-5 py-10 text-stone-400 ">
	<h2 class="flex items-center gap-2 text-stone-400 font-title text-5xl pb-3 border-b-2 border-dashed border-stone-600 mb-3">My Journal</h2>
	</div>
	<p>Place where I put things I have learned. May be helpful for future me.</p>
	<div class="grid grid-cols-2 gap-4">
		<div class="flex flex-col justify-between gap-2 text-stone-400 space-y-4 border-2 border-dashed border-stone-600 rounded">
		<img src="/images/test-image.jpg" class="rounded" loading="lazy">
				<h3 class=" px-4 text-stone-300 text-lg font-bold">This is how the topic no 2 will look</h3>		
				<p class="px-4" >This will be excerpt for the certain topic</p>

				<a class="mx-4 pb-4 rounded-sm w-fit text-orange-400 flex items-baseline gap-1 cursor-pointer font-bold hover:text-black bg-[length:0%_100%] bg-[0%_100%] bg-no-repeat bg-gradient-to-b from-stone-300 to-stone-300 hover:bg-[length:100%_100%]  duration-300 px-1" href="#">Read about it --></a>		
		</div>
		<div class="flex flex-col justify-between gap-2 text-stone-400 space-y-4 p-4 border-2 border-dashed border-stone-600 rounded">
			<div class="flex flex-col gap-2" >
		<img src="/images/test-image.jpg" class="rounded" loading="lazy">
				<h3 class="text-stone-300 text-lg font-bold">This is how the topic no 2 will look</h3>		
				<p>This will be excerpt for the certain topic</p>
			</div>

				<a class="rounded-sm w-fit text-orange-400 flex items-baseline gap-1 cursor-pointer font-bold hover:text-black bg-[length:0%_100%] bg-[0%_100%] bg-no-repeat bg-gradient-to-b from-stone-300 to-stone-300 hover:bg-[length:100%_100%]  duration-300 px-1" href="#">Read about it --></a>		
		</div>
	</div>	

	<a href="/about" class="w-fit bg-stone-300 text-stone-800 p-2 px-4 rounded hover:ring-2 hover:ring-stone-300 hover:text-stone-300 hover:bg-stone-800 duration-300">
	    See all Blogs 
	</a>
</section>

</main>
{{> footer}}
