<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
		rel="stylesheet">

	<link rel="stylesheet" href="/stylesheets/style.css">
	<title>Abhishek</title>
</head>

<body class="font-primary bg-stone-900 text-stone-300">
	<header class="flex justify-between max-w-screen-xl mx-auto p-5">
		<h1 class="group font-extrabold text-xl cursor-pointer text-orange-400">Abhi<span
				class="hover:animate-bounce">shek</span></h1>
		<nav class="flex items-center gap-3 ">
			<div class="size-1.5 bg-stone-800 rotate-45 "></div>
			<a class="font-medium text-lg hover:text-orange-400 duration-500 " href="/">Journals</a>
			<div class="size-1.5 bg-stone-800 rotate-45 "></div>
			<a class="font-medium text-lg hover:text-orange-400 duration-500 " href="/">Projects</a>
			<div class="size-1.5 bg-stone-800 rotate-45 "></div>
			<a class="font-medium text-lg hover:text-orange-400 duration-500 " href="/">Work</a>
			<div class="size-1.5 bg-stone-800 rotate-45 "></div>
			<a class="font-medium text-lg hover:text-orange-400 duration-500 " href="/">Contact</a>
		</nav>
	</header>
